@use './reset.scss';
@use './color.scss' as color;
@use './typography.scss' as type;

// font
// size


// styling

body {
    @include type.body;
    background-color: color.$cream;
    min-height: 100vh;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.preview {
    width: 21rem;
    border-radius: 0.625rem;
    background-color: color.$white;

    &__image {
        width: 100%;
        border-top-left-radius: 0.625rem;
        border-top-right-radius: 0.625rem;
    }

    &__content {
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__type {
        @include type.overline;
        color: color.$grey;
    }

    &__name {
        @include type.display;
        color: color.$gunmetal;
    }

    &__description {
        color: color.$grey;
    }

    &__price {
        @include type.display;
        color: color.$aquamarine;

        &--original {
            color: color.$grey;
            font-size: 13px;
            font-weight: 400;
            text-decoration: line-through;
        }
    }

    &__button {
        @include type.button-text;
        padding: 1rem 2rem;
        background-color: color.$aquamarine;
        color: color.$white;
        transition-duration: 0s; // ensure active state is animated instantly
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;

        &:hover {
            transition-duration: 0.25s;
            background-color: color.$aquamarine--deep;
        }

        &:active {
            background-color: color.$aquamarine--deep;
        }
    }
}


.attribution { 
    font-size: 11px; 
    text-align: center; 
    
    & a {
        color: hsl(228, 45%, 44%);
    }
}