// max widths
$mobile--small: 360px;
$mobile: 680px;
$tablet: 1024px;
$desktop: 1280px;

@mixin mobile--small {
    @media screen and (max-width: $mobile--small){
        @content;
    }
}

@mixin mobile(){
    @media screen and (max-width: $mobile) {
        @content;
    }
}

@mixin mobile--landscape() {
    @media screen and (max-width: $tablet) and (max-height: $mobile) {
        @content;
    }
}

// this mixin solves the "sticky hover" issue with mobile devices.
@mixin hoverable {
    @media (hover: hover) {
        @content;
    }
}

@mixin tablet{
    @media screen and (min-width: $mobile){
        @content;
    }
}

@mixin desktop{
    @media screen and (min-width: $tablet){
        @content;
    }
}